<!doctype html>
<html lang="en" ng-app="metadataApp">
<head>
    <meta charset="utf-8">
    <title>COMP 467 - EXIF / IPTC Metadata</title>

    <!-- bower:js -->
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/angular-sanitize/angular-sanitize.js"></script>
    <!-- endbower -->

    <!-- inject:js -->
    <script src="app/app.js"></script>
    <script src="app/exif.service.js"></script>
    <script src="app/fileReader.service.js"></script>
    <script src="app/ngFileSelect.directive.js"></script>
    <script src="app/upload.controller.js"></script>
    <!-- endinject -->

</head>
<body>
<h1>{{'EXIF: ' + 'EXchangeable Image File'}}</h1>

<div ng-controller="UploadController">
    <form>
        <input type="file" ng-file-select="onFileSelect($files)" >
        <!--  <input type="file" ng-file-select="onFileSelect($files)" multiple> -->

    </form>
    <b>Preview:</b><br />
    <i ng-hide="imageSrc">No image</i>
    <img id="" ng-src="{{imageSrc}}" ng-click="getData($event);"/><br/>
    <b>Progress:</b>
    <progress value="{{progress}}"></progress>

    <p ng-bind-html='imageMetadata'></p>

    <img src="images/DSCN0614_small.jpg" id="img1"  ng-click="getData($event);"/>

</div>

</body>
</html>